@font-face {
font-family: "Roboto-Thin";
src: local("Roboto-Thin"),
url(robotothin.ttf);
}

form {
position: absolute;
right: 0%;
top: 0%;
width: 53%;
height: 100%;
background-color: white;
}
h1 {
font-family: "Roboto-Thin";
color: #39567d;
text-shadow: 1px 1px 1px #39567d;
font-weight: 100;
font-size: 51px;
position: fixed;
right: 21%;
top: 7%;
}
p {
color: gray;
position: fixed;
right: 18%;
top: 25%
}
body {
background-color: #5a626a;
}
.section1 {
  margin-right: 6%;
  margin-bottom: 10%;
  display: inline-block;
}
.section2 {
  margin-left: 0%;
  margin-bottom: 10%;
  display: inline-block;
}

